# This workflow will deploying Docs to GitHub Pages
name: Deploy Tests to Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install Allure
        run: npm install -g allure
      - name: Test code with pytest
        run: uv run pytest --alluredir ./allure-results
      - name: Generate Allure report
        run: allure generate ./allure-results -o ./allure-report
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./allure-report

  deploy:
    needs: generate
    runs-on: ubuntu-slim
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
